.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    /*whatever width you want*/
}

.big-input {
    color: rgb(133, 133, 133);
    font-size: 1.7em;
    border: 0.1em none rgb(133, 133, 133);
    border-bottom-style: solid;
    width: 100%;
}

.big-input:focus {
    color: rgb(7, 88, 7);
    border-color: rgb(20, 94, 20);
    outline: none;
}

.big-input::placeholder {
    color: rgb(133, 133, 133);
    opacity: 1;
}

.big-input:focus::placeholder {
    color: rgb(20, 94, 20);
    opacity: 1;
}

.huge-title {
    color: rgb(20, 94, 20);
    position: absolute;
    top: 0.5em;
    left: 0.75em;
    font-size: 3em;
    font-weight: bold;
}

@media (min-width: 576px) {
    .huge-title {
        font-size: 3.5em;
    }

    .big-input {
        font-size: 2em;
    }

    .inner {
        width: 350px;
    }
}

@media (min-width: 768px) {
    .huge-title {
        font-size: 4.5em;
    }

    .big-input {
        font-size: 2em;
    }

    .inner {
        width: 375px;
    }
}

@media (min-width: 992px) {
    .huge-title {
        font-size: 4.5em;
    }

    .big-input {
        font-size: 2em;
    }

    .inner {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .huge-title {
        font-size: 5em;
    }

    .inner {
        width: 400px;
    }
}