.student-card {
    width: 12rem;
    height: 16rem;
}

.nav-link {
    font-size: 1.5em;
    cursor: pointer;
}

.card-button {
    width: 9.5em;
}

.update-btn {
    position: fixed;
    right: 27%;
    bottom: 7.5%;
    width: 10em;
}